@model AuthViewModel
@section Scripts {
    <script type="text/javascript">
        const globalRequestParameters = @Html.Raw(Json.Serialize(Model.RequestParameters));
        const globalResponse = @Html.Raw(Json.Serialize(Model.Response));
        const globalFlow = @Html.Raw(Json.Serialize(Model.Flow));
        const globalUserConfiguration = @Html.Raw(Json.Serialize(Model.UserConfiguration));
        const globalGeneratedLink = @Html.Raw(Json.Serialize(Model.GeneratedLink));
    </script>
    <script src="~/js/index-app.js" asp-append-version="true"></script>
}
<div class="nav nav-tabs mt-3" id="mainTabHeader" role="tablist">
    <button type="button" class="nav-link active" id="mainTabHeaderRequest" data-bs-toggle="tab" data-bs-target="#mainTabPageRequest" role="tab" aria-controls="mainTabPageRequest" aria-selected="true">Request</button>
    <button type="button" class="nav-link" v-if="response" v-cloak id="mainTabHeaderResponse" data-bs-toggle="tab" data-bs-target="#mainTabPageResponse" role="tab" aria-controls="mainTabPageResponse" aria-selected="false">Response</button>
    <button type="button" class="nav-link" v-if="flow" v-cloak id="mainTabHeaderFlow" data-bs-toggle="tab" data-bs-target="#mainTabPageFlow" role="tab" aria-controls="mainTabPageFlow" aria-selected="false">Flow</button>
</div>
<div v-cloak>
    <partial name="_ModalImportIdentityService" />
    <form>
        <div class="tab-content" id="mainTabContent">
            <div class="tab-pane fade show active" id="mainTabPageRequest" role="tabpanel" aria-labelledby="mainTabHeaderRequest">
                <partial name="_PanelRequestTemplate" />
                <partial name="_PanelProtocolFlow" />
                <partial name="_PanelIdentityService" />
                <partial name="_PanelClientApp" />
                <partial name="_PanelRequestParameters" />
                <partial name="_PanelSave" />

                <div v-if="validationMessage" class="mt-2">
                    <div class="alert alert-warning">{{ validationMessage }}</div>
                </div>

                <partial name="_PanelSubmit" />

                <div v-if="errorMessage" class="mt-2">
                    <div class="alert alert-danger">{{ errorMessage }}</div>
                </div>
            </div>
            <div class="tab-pane fade" id="mainTabPageResponse" role="tabpanel" aria-labelledby="mainTabHeaderResponse" v-if="response">
                <partial name="_PanelResponse" />
            </div>
            <div class="tab-pane fade" id="mainTabPageFlow" role="tabpanel" aria-labelledby="mainTabHeaderFlow" v-if="flow">
                <partial name="_PanelFlow" />
            </div>
        </div>
    </form>
</div>