@model AuthViewModel
<form method="POST" asp-controller="Home" asp-action="Index">
    <ul class="nav nav-tabs" id="tabMainHeader" role="tablist">
        <li class="nav-item">
            <a class="nav-link @(Model.Response == null ? "active" : "")" id="tabMainHeaderRequest" data-toggle="tab" href="#tabMainPageRequest" role="tab" aria-controls="tabMainPageRequest" aria-selected="@(Model.Response == null ? "true" : "false")">Request</a>
        </li>
        @if (Model.Response != null)
        {
        <li class="nav-item">
            <a class="nav-link active" id="tabMainHeaderResponse" data-toggle="tab" href="#tabMainPageResponse" role="tab" aria-controls="tabMainPageResponse" aria-selected="true">Response</a>
        </li>
        }
    </ul>
    <div class="tab-content" id="tabMainContent">
        <div class="tab-pane fade @(Model.Response == null ? "show active" : "")" id="tabMainPageRequest" role="tabpanel" aria-labelledby="tabMainHeaderRequest">
            <h5>Token Service</h5>
            <div class="form-group">
                <label for="@nameof(AuthRequest.AuthorizeEndpoint)">Authorize Endpoint</label>
                <input type="text" class="form-control" id="@nameof(AuthRequest.AuthorizeEndpoint)" name="@nameof(AuthRequest.AuthorizeEndpoint)" value="@Model.Request.AuthorizeEndpoint" placeholder="The URL of the Authorize endpoint">
            </div>
            <div class="form-group">
                <label for="@nameof(AuthRequest.TokenEndpoint)">Token Endpoint</label>
                <input type="text" class="form-control" id="@nameof(AuthRequest.TokenEndpoint)" name="@nameof(AuthRequest.TokenEndpoint)" value="@Model.Request.TokenEndpoint" placeholder="The URL of the Token endpoint">
            </div>
            <div class="form-group">
                <label for="@nameof(AuthRequest.DeviceCodeEndpoint)">Device Code Endpoint</label>
                <input type="text" class="form-control" id="@nameof(AuthRequest.DeviceCodeEndpoint)" name="@nameof(AuthRequest.DeviceCodeEndpoint)" value="@Model.Request.DeviceCodeEndpoint" placeholder="The URL of the Device Code endpoint">
            </div>
            <h5>Client App</h5>
            <div class="form-group">
                <label for="@nameof(AuthRequest.ClientId)">Client ID</label>
                <input type="text" class="form-control" id="@nameof(AuthRequest.ClientId)" name="@nameof(AuthRequest.ClientId)" value="@Model.Request.ClientId" placeholder="The client ID of the app registered with the token service">
            </div>
            <div class="form-group">
                <label for="@nameof(AuthRequest.ClientSecret)">Client Secret</label>
                <input type="password" class="form-control" id="@nameof(AuthRequest.ClientSecret)" name="@nameof(AuthRequest.ClientSecret)" value="@Model.Request.ClientSecret" placeholder="The client secret of the app registered with the token service">
            </div>
            <h5>Request</h5>
            <div class="form-group">
                <label for="@nameof(AuthRequest.Scope)">Scope</label>
                <input type="text" class="form-control" id="@nameof(AuthRequest.Scope)" name="@nameof(AuthRequest.Scope)" value="@Model.Request.Scope" placeholder="The scope to request">
            </div>

            <ul class="nav nav-tabs" id="tabRequestHeader" role="tablist">
                <li class="nav-item">
                    <a class="nav-link @(Model.Request.RequestType == Constants.RequestTypes.AuthorizationCode ? "active" : "")" id="tabRequestHeaderAuthorizationCode" data-toggle="tab" href="#tabRequestPageAuthorizationCode" role="tab" aria-controls="tabRequestPageAuthorizationCode" aria-selected="true">Authorization Code</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(Model.Request.RequestType == Constants.RequestTypes.ClientCredentials ? "active" : "")" id="tabRequestHeaderClientCredentials" data-toggle="tab" href="#tabRequestPageClientCredentials" role="tab" aria-controls="tabRequestPageClientCredentials" aria-selected="false">Client Credentials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(Model.Request.RequestType == Constants.RequestTypes.DeviceCode ? "active" : "")" id="tabRequestHeaderDeviceCode" data-toggle="tab" href="#tabRequestPageDeviceCode" role="tab" aria-controls="tabRequestPageDeviceCode" aria-selected="false">Device Code</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(Model.Request.RequestType == Constants.RequestTypes.ResourceOwnerPasswordCredentials ? "active" : "")" id="tabRequestHeaderResourceOwnerPasswordCredentials" data-toggle="tab" href="#tabRequestPageResourceOwnerPasswordCredentials" role="tab" aria-controls="tabRequestPageResourceOwnerPasswordCredentials" aria-selected="false">Resource Owner Password Credentials</a>
                </li>
            </ul>
            <div class="tab-content" id="tabRequestContent">
                <div class="tab-pane fade @(Model.Request.RequestType == Constants.RequestTypes.AuthorizationCode ? "show active" : "")" id="tabRequestPageAuthorizationCode" role="tabpanel" aria-labelledby="tabRequestHeaderAuthorizationCode">
                    <div class="form-group">
                        <label for="@nameof(AuthRequest.ResponseType)">Response Type</label>
                        <input type="text" class="form-control" id="@nameof(AuthRequest.ResponseType)" name="@nameof(AuthRequest.ResponseType)" value="@Model.Request.ResponseType" placeholder="The response type">
                    </div>
                    <button type="submit" name="RequestType" value="@Constants.RequestTypes.AuthorizationCode" class="btn btn-primary">Sign In</button>
                </div>
                <div class="tab-pane fade @(Model.Request.RequestType == Constants.RequestTypes.ClientCredentials ? "show active" : "")" id="tabRequestPageClientCredentials" role="tabpanel" aria-labelledby="tabRequestHeaderClientCredentials">
                    <button type="submit" name="RequestType" value="@Constants.RequestTypes.ClientCredentials" class="btn btn-primary">Request Token</button>
                </div>
                <div class="tab-pane fade @(Model.Request.RequestType == Constants.RequestTypes.DeviceCode ? "show active" : "")" id="tabRequestPageDeviceCode" role="tabpanel" aria-labelledby="tabRequestHeaderDeviceCode">
                    <button type="submit" name="RequestType" value="@Constants.RequestTypes.DeviceCode" class="btn btn-primary">Request Device Code</button>
                </div>
                <div class="tab-pane fade @(Model.Request.RequestType == Constants.RequestTypes.ResourceOwnerPasswordCredentials ? "show active" : "")" id="tabRequestPageResourceOwnerPasswordCredentials" role="tabpanel" aria-labelledby="tabRequestHeaderResourceOwnerPasswordCredentials">
                    <div class="form-group">
                        <label for="@nameof(AuthRequest.UserName)">User Name</label>
                        <input type="text" class="form-control" id="@nameof(AuthRequest.UserName)" name="@nameof(AuthRequest.UserName)" value="@Model.Request.UserName" placeholder="The user name of the resource owner">
                    </div>
                    <div class="form-group">
                        <label for="@nameof(AuthRequest.Password)">Password</label>
                        <input type="password" class="form-control" id="@nameof(AuthRequest.Password)" name="@nameof(AuthRequest.Password)" value="@Model.Request.Password" placeholder="The password of the resource owner">
                    </div>
                    <button type="submit" name="RequestType" value="@Constants.RequestTypes.ResourceOwnerPasswordCredentials" class="btn btn-primary">Request Token</button>
                </div>
            </div>
        </div>
        @if (Model.Response != null)
        {
        <div class="tab-pane fade show active" id="tabMainPageResponse" role="tabpanel" aria-labelledby="tabMainHeaderResponse">
            @if (Model.Response.HasError)
            {
                <h4 class="mt-2">Error</h4>
                <div class="alert alert-danger">
                    <h4 class="alert-heading">@Model.Response.Error</h4>
                    <div>@Model.Response.ErrorDescription</div>
                </div>
            }
            @if (Model.Response.HasDeviceCode)
            {
                <h4 class="mt-2">Device Code</h4>
                <div>To sign in, use a web browser to open the page <a href="@Model.Response.DeviceCodeVerificationUri" target="_blank">@Model.Response.DeviceCodeVerificationUri</a> and enter the code <code>@Model.Response.DeviceUserCode</code> to authenticate.</div>
                <input type="hidden" name="@nameof(AuthRequest.DeviceCode)" value="@Model.Response.DeviceCode" />
                <button type="submit" name="@nameof(AuthRequest.RequestType)" value="@Constants.RequestTypes.DeviceToken" class="btn btn-primary">Request Token</button>
            }
            @if (Model.Response.HasToken)
            {
                <h4 class="mt-2">Tokens</h4>
                <div>Token Type: <code>@Model.Response.TokenType</code></div>
                <div>Expires In: <code>@Model.Response.ExpiresIn</code></div>
                @if (!string.IsNullOrWhiteSpace(Model.Response.IdToken))
                {
                    <div class="mt-3">ID Token (<a href="https://jwt.ms/#id_token=@Model.Response.IdToken" target="_blank">decode</a>): <code>@Model.Response.IdToken</code></div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Response.AccessToken))
                {
                    <div class="mt-3">Access Token (<a href="https://jwt.ms/#access_token=@Model.Response.AccessToken" target="_blank">decode</a>): <code>@Model.Response.AccessToken</code></div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Response.RefreshToken))
                {
                    <div class="mt-3">Refresh Token: <code>@Model.Response.RefreshToken</code></div>
                    <input type="hidden" name="@nameof(AuthRequest.RefreshToken)" value="@Model.Response.RefreshToken" />
                    <button type="submit" name="@nameof(AuthRequest.RequestType)" value="@Constants.RequestTypes.RefreshToken" class="btn btn-primary">Refresh Token</button>
                }
            }
            @if (!string.IsNullOrWhiteSpace(Model.Response.Raw))
            {
                <h4 class="mt-2">Raw Response</h4>
                <pre><code>@Model.Response.Raw</code></pre>
            }
        </div>
        }
    </div>
</form>