@{
    ViewData["Title"] = "Terms and Conditions";
}
<h4 class="mt-3">@Constants.App.Name @ViewData["Title"] ("Agreement")</h4>
<p>
    This Agreement was last modified on December 11th, 2019.
</p>
<p>
    Please read these Terms and Conditions ("Agreement", "Terms and Conditions") carefully before using
    @Context.Request.Host ("the Site") operated by @Constants.App.Name ("us", "we", or "our").
    This Agreement sets forth the legally binding terms and conditions for your use of the Site at @Context.Request.Host.
</p>
<p>
    By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or
    contributing content or other materials to the Site, you agree to be bound by these Terms and Conditions.
    Capitalized terms are defined in this Agreement.
</p>
<h5>Intellectual Property</h5>
<p>
    The Site and its original content, features and functionality are owned by @Constants.App.Name and are
    protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary
    rights laws.
</p>
<h5>Data Collection</h5>
<p>
    The original content of the Site is open to browse but may not be fully or partially collected (e.g. through automation
    methods such as screen-scraping) or otherwise extracted and stored for any purpose.
</p>
<h5>Termination</h5>
<p>
    We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and destruction
    of all information associated with you. All provisions of this Agreement that by their nature should survive termination
    shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and
    limitations of liability.
</p>
<h5>Links To Other Sites</h5>
<p>
    Our Site may contain links to third-party sites that are not owned or controlled by us.
</p>
<p>
    We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third party
    sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that
    you visit.
</p>
<h5>Changes To This Agreement</h5>
<p>
    We reserve the right, at our sole discretion, to modify or replace these Terms and Conditions by posting the updated terms
    on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms and Conditions.
</p>
<p>
    Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this
    Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.
</p>
<h5>Contact Us</h5>
<p>
    If you have any questions about this Agreement, please contact us.
</p>