<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Constants.App.Name</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/colormode.js" asp-append-version="true"></script>
    @Html.Raw(JavaScriptSnippet.FullScript)
    @if (this.User.Identity.IsAuthenticated)
    {
        <script>
            if (typeof (appInsights) != "undefined") { appInsights.setAuthenticatedUserContext("@User.GetUserId()"); }
        </script>
    }
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg sticky-top border-bottom bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">@Constants.App.Name</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav flex-grow-1">
                        <a class="nav-link @(this.ViewContext.View.Path.StartsWith("/Views/Home/Index.cshtml", StringComparison.OrdinalIgnoreCase) ? "active": "")" asp-controller="Home" asp-action="Index">New Request</a>
                        <a class="nav-link @(this.ViewContext.View.Path.StartsWith("/Views/Home/Token.cshtml", StringComparison.OrdinalIgnoreCase) ? "active": "")" asp-controller="Home" asp-action="Token">Decode Token</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link @(this.ViewContext.View.Path.StartsWith("/Views/Home/Configuration.cshtml", StringComparison.OrdinalIgnoreCase) ? "active": "")" asp-controller="Home" asp-action="Configuration">Configuration</a>
                        }
                        <a class="nav-link @(this.ViewContext.View.Path.StartsWith("/Views/Home/About.cshtml", StringComparison.OrdinalIgnoreCase) ? "active": "")" asp-controller="Home" asp-action="About">About</a>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="footer text-muted border-top">
            <div class="container">
                &copy; @DateTimeOffset.UtcNow.Year @Constants.App.Name | <a href="@Constants.App.ProjectHomePage">Project Homepage</a> | <a asp-controller="Home" asp-action="Privacy">Privacy &amp; Cookies</a> | <a asp-controller="Home" asp-action="Terms">Terms &amp; Conditions</a>
            </div>
        </footer>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toastMessage" class="toast align-items-center text-bg-primary" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div id="toastMessageText" class="toast-body"></div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <environment include="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="~/js/rawinflate.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="~/js/rawinflate.dev.min.js" asp-append-version="true"></script>
    </environment>
    <script src="https://unpkg.com/axios@0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>